sentence-transformers==2.2.2
pypdf==3.8.1
pygpt4all==1.1.0
faiss-cpu
langchain
gpt4all===1.0.3
python-dotenv==1.0.0
chainlit
ctransformers
accelerate==0.20.0
bitsandbytes==0.39.0
transformers==4.30.0
torch